.hero {
  &__main {
    height: 90vh;
  }

  &__content {
    max-width: 40rem;
    padding: 1rem;

    @media (max-width: 575.98px) {
      max-width: 30rem;
    }

    @media (max-width: 425.98px) {
      p {
        font-size: 16px !important;
      }
    }
  }
}

.nav__logo {
  height: 2.6rem;
}
